body {
	padding: 0;
	margin: 0;
}

.box-in {
	height: 100px;
	width: 100px;
	background-color: #FFA54F;
}

.box-out {
	margin: 100px;
	height: 100px;
	width: 100px;
	padding: 10px;
	background-color: #999999;
	border: 5px solid #8E388E;
}


.box-in1 {
	height: 100px;
	width: 100px;
	background-color: #FFA54F;
}

.box-out1 {
	margin: 100px;
	height: 130px;
	width: 130px;
	padding: 10px;
	background-color: #999999;
	border: 5px solid #8E388E;
	box-sizing: border-box;
}

.box-flex {
	display: -webkit-flex;
	display: flex;
	width: 600px;
	height: 400px;
	padding: 10px;
	background-color: #CDC9C9;
	list-style: none;
	flex-direction:column;
}

.box-flex li {
	border: 1px solid #aaa;
}

.box-flex .left {
	order: 2;
	flex-grow: 1;
}

.box-flex .center {
	flex-grow: 2;
	order: 3;
}

.box-flex .right {
	
	flex-grow: 1;
	order: 1;
}

.cloumn {
	width: 600px;
	height: 600px;
	border: 1px solid #000000;
	overflow-y: auto;
	column-count: 3;
}

.box-img {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	width: 400px;
	height: 400px;
	border: 1px solid #000000;
}